html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav Bar */

li, a, button {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2C052A;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2% 5%;
    border-bottom: 1px solid #DFDFDF;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.logo {
    width: 50px;
    cursor: pointer;
}

.nav__links {
    margin-right: 40px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
    color: #C73EC2;
}

.right-nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* Primary Button*/

button {
    padding: 6px 25px; 
    background-color: #C73EC2;
    color: #fff;
    border: none;
    border-radius: 47px;
    cursor: pointer;
}

button:hover {
    background-color: #8E1289;
}

/* Above-the-fold hero page */

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 80px);
    justify-content: center; 
    gap: 60px;
}

.hero-content {
    text-align: right;
}

.hero-content h1, h2, h3, h4 {
    font-family: 'Lemon', serif;    
    text-align: right;
}

h1 {
    font-size: 3.5rem;
    color: #C73EC2;

}

h2 {
    font-size: 8rem;
    color: #C73EC2;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #2C052A;
}

h4 {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Nunito Sans', sans-serif;
    color: #6A696A;
}

.fortune-gallery {
    display: flex;
    margin: -100px 25%;
    flex-direction: column;
    align-items: center;
}

.fortune-gallery p {
    font-family: 'Lemon', serif;
    color:#C73EC2;
    text-align: center;
    font-size: 2rem;
    text-shadow: #e5b8e4 1px 0 10px;
}

#fortune {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

#hide-fortune {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-decoration: underline; 
    cursor: pointer;
    text-shadow: none;
    color: #000;
    text-align: center;
    margin-top: 10px;
}

.header-image img {
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 0.2);
    object-fit: cover;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.header-image {
    position: relative;
}

.bubble {
    position: absolute;
    border: 8px solid #fff;
    border-radius: 50%;
    z-index: 2;
}

#bubble-1 {
    background-color: #C73EC2;
    width: 100px;
    height: 100px;
    top: -40px; /* Adjust as needed */
    left: 320px; /* Adjust as needed */
}

#bubble-2 {
    background-color: #E1D40A;
    width: 80px;
    height: 80px;
    top: 380px; /* Adjust as needed */
    left: 40px; /* Adjust as needed */
}

/* Image and bubbles 

#bubble-1 {
    background-color: #C73EC2;
    margin-top: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 2;
    border: 8px solid #fff;
}

#bubble-2 {
    background-color: #E1D40A;
    width: 80px;
    height: 80px;
    margin-left: -30px;
    margin-top: 22rem;
    border-radius: 50%;
    z-index: 2; 
    border: 8px solid #fff;
}

.hero h1, h2, h3, h4, button {
    align-items: center;
}

*/

/* Revolving gallery 

.gallery {
    max-width: 800px;
    justify-content: center;
    justify-items: center;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: auto minmax(100px, 300px);
    grid-gap: 10px;
    margin: 20px;
    align-items: center ;
}

.gallery img {
    max-width: 100%;
    max-height: auto;
    display: inline-block;
    object-fit: cover;
}

*/
/* Responsive nav */

@media only screen and (max-width: 480px) {
    .nav__links li {
        display: block;
        padding: 0px 20px;
    }
}
